:root {
  /* Colors */
  --primary-color: #e61873;
  --secondary-color: #692784;
  --primary-background: #ffffff;
  --secondary-background: #f4f6f9;
  --vertical-gradient: linear-gradient(
    var(--primary-color),
    var(--secondary-color)
  );
  --horizontal-gradient: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );

  /* Box styles */
  --box-border-radius: 5px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* Miscellaneous */
  --header-height: 5rem;
}
