.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    position: relative;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    height: calc(100vh - var(--header-height));
    background-color: var(--secondary-background);
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--overlay-background);
    z-index: 1;
    display: none;

    &--visible {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .layout__overlay {
    transform: translateX(0);
    position: relative;

    &--visible {
      display: none;
    }
  }
}
