@use 'assets/sass/abstracts/mixins';

.post {
  @include mixins.box-styles;
  display: flex;
  max-width: 50rem;
  min-height: 20rem;

  &:hover &__icons-container {
    visibility: visible;
    opacity: 1;
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 12rem;
    background: var(--vertical-gradient);
  }

  &__avatar {
    width: 6rem;
    margin-bottom: 1rem;
  }

  &__username {
    text-align: center;
    color: white;
    width: 100%;
    overflow-wrap: break-word;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 2rem;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons-container {
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    gap: 1.5rem;
    transition: all 250ms ease-in;
  }

  &__icon {
    &:hover {
      filter: var(--primary-color-filter);
    }
  }

  &__id {
    color: var(--light-text);
  }

  &__title {
    margin: 1rem 0;
  }
}
