@use 'assets/sass/abstracts/mixins';

.sidebar {
  min-height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  width: min-content;
  flex-shrink: 0;
  background-color: var(--primary-background);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  padding: 2rem 0.5rem;

  &__footer {
    padding: 0 1rem;
  }
}

.sidebar-nav {
  &__section {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    height: 5rem;
    font-weight: bold;
  }

  &__link {
    @include mixins.icon-btn;
    height: 100%;
    width: 100%;
  }

  &__icon-wrapper {
    width: 2.5rem;
    margin-right: 1rem;
    text-align: center;
  }
}
