@use 'assets/sass/abstracts/mixins';

.edit-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: var(--overlay-background);

  &__box {
    @include mixins.box-styles;
    width: 40rem;
    height: 50rem;
    padding: 1.5rem 2rem;
  }

  &__input {
    width: 100%;
    resize: none;
    padding: 1rem;
  }
}
