@use 'assets/sass/abstracts/mixins';

.edit-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: var(--overlay-background);

  &__box {
    @include mixins.box-styles;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50rem;
    height: 60rem;
    padding: 2rem 2.5rem;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__info {
    align-self: flex-start;
  }
}

.modal-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__textarea {
    width: 100%;
    flex-grow: 1;
    resize: none;
    padding: 1rem;
    overflow-y: scroll;
  }

  &--small {
    height: 10rem;
  }

  &--large {
    flex-grow: 1;
  }
}

.modal-btn-group {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  &__btn {
    flex-grow: 1;

    &--primary {
      @include mixins.primary-btn;
    }

    &--secondary {
      @include mixins.secondary-btn;
    }
  }
}
