.header {
  position: relative;
  z-index: 3;
  width: 100%;
  height: var(--header-height);
  padding: 0 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 2rem;
    font-family: 'RockSalt';
    background: var(--horizontal-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
  }
}
